*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width : 100%;
  }
  
  header {
    text-align: center;
    height: 400px;
    background: #303030;
    background-image: url("images/background.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
    
  h1 {
      font-size: 30px;
      padding: 50px;
      color: #fff;
  }

  h2 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #002c44;
}

#sidebar {
    width: 25%;
    height: 100%;
    float: left;
    margin-bottom: 50px;
    clear: both;
}

#mid {
  width: 75%;
  height: 100%;
  float: left;
}


#bestil {
    background-color: #002c44;
    height: 100px;
    padding: 20px;
    clear: both;
}

#bestil h2 {
  color: #fff;
  text-align: left;
  font-size: 30px;
}

#bot {
    background-color: #fff;
    height: 300px;
    clear: both;  
}

button {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 49%;
  cursor: pointer;
  margin: 5px;
}

#betal {
  border: 1px solid  #002c44;
  background-color:  #002c44;
  float: right;
}

#annuller {
  border: 1px solid  #002c44;
  background-color: #fff;
  float: left;
  color:  #002c44;
}

.kategorier {
    border-radius: 5px;
    border: 1px solid #002c44;
    width: 320px;
    height: 250px;
    background-color: #fff;
    cursor: pointer;
    float: left;
    margin: 10px;
  }

#kategori2 {
  width: 340px;
  height: 250px;
  background-color: #002c44;
}

#kategori2 h2 {
  color: #fff;
  font-size: 25px;
}

.solarie {
  border-radius: 5px;
  background-color:  #002c44;
  width: 320px;
  height: 250px;
  cursor: pointer;
  float: left;
  margin: 10px;
}

.solarie h2{
  color: #fff;
}
