*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width : 100%;
  }
  
  header {
    text-align: center;
    height: 500px;
    background: #003A5D;
    background-image: url("images/background.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: 2px solid #fff;
    outline-offset: -30px;
  }

  h1 {
      font-size: 70px;
      padding: 70px;
      color: #fff;
  }

  h2 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

  h3 {
    font-size: 20px;
    color: #fff;
    padding: 50px;
  }

.wrapper {
  margin-top: 30px;
}

.sidebar {
    width: 25%;
    height: 100%;
    float: left;
    margin-bottom: 30px;
}

.mid {
  width: 75%;
  height: 100%;
  float: left;
  margin-bottom: 30px;
}

.kategorier {
  margin-left: 20px;
}

.kategori {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #003A5D;
    width: 80%;
    height: 230px;
    background-color: #fff;
    cursor: pointer;
    margin: 10px;
  }

.large {
  width: 90%;
}

.solarier {
  margin: 0 auto;
  text-align: center;
}

.solarie {
  display: inline-block;
  border-radius: 5px;
  background-color:  #003A5D;
  width: 30%;
  height: 230px;
  cursor: pointer;
  margin: 10px;
  color: #fff;
}

.before {
  background-color: #003A5D;
  height: 100px;
  padding: 20px;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

#bestilling h2 {
  color: #fff;
  text-align: left;
  font-size: 30px;
  float: left;
  margin-top: 30px;
}

#total h2 {
  color: #fff;
  text-align: left;
  font-size: 30px;
  float: right;
  margin-top: 30px;
  margin-right: 200px;
}

.bot {
  height: 300px;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

#kurv {
  width: 90%;
  height: 20%;
  border: 1px dotted #003A5D;
  color: #003A5D;
  border-radius: 120px;
  display: inline-block;
  background-color: #fff;
  margin-top: 100px;

}

button {
  width: 45%;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;

}

#betal {
  border: 1px solid  #003A5D;
  background-color:  #003A5D;
}

#annuller {
  border: 1px solid  #003A5D;
  background-color: #fff;
  color:  #003A5D;
}

footer {
  margin: 0 auto;
  text-align: center;
}