*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width : 100%;
    margin: 0px;
  }
  
  header {
    text-align: left;
    padding: 20px;
    background: #303030;
  }
  
  .wrapper {
      position: relative;
      clear: both;
    }
    
  h1 {
      font-size: 30px;
      color: #fff;
      margin-left: 40px;
  }

  h2 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
}

  h3 {
    font-size: 20px;
    color: #fff;
}

#top {
    background-color: #fff;
    height: 200px;
}

#mid {
    background-color: #fff;
    height: 600px;  
}

#bestilling {
    background-color: #202020;
    height: 100px;
    padding: 20px;
}

#bestilling h2 {
  text-align: left;
  font-size: 30px;
}

#bot {
    background-color: #fff;
    height: 300px;  
}

button {
  border: none;
  color: #fff;
  padding: 5px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

#betal {
  background-color: #4CAF50;
  float: right;
}

#annuller {
  background-color: red;
  float: left;
}

#button {
  background-color: #fff;
}

.kategorier {
    border-left: 1px solid #202020;
    width: 20%;
    height: 100%;
    background-color: #000;
    float: left;
    cursor: pointer;
}

.solarie {
  border: 1px solid #202020;
  width: 25%;
  height: 50%;
  background-color: #000;
  float: left;
  cursor: pointer;
}

footer {
    text-align: center;
    background-color: #303030;
    padding: 20px;
    clear: both;
}